### Created by Robert C Smith <robert@robertcsmith.consulting>   ###
### with assistance from the utility at http://www.gitignore.io  ###

# Folders shared with Docker containers as persistant data volumes
web
db

# Files used by Vagrant, unique per OS install
.vagrant

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

### Mac ###
.DS_Store

### SVN ###
.svn/

### Composer ###
# The PHpARchive of Composer should always be a fresh download at the initial install
# or the machine should be running Composer installed as a globally accessible command
composer.phar

# Composer generated lock files should be created per machine when running 'composer update'
composer.lock

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json

### Unit test / coverage reports ###
.coverage
.tox

### Eclipse ###
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Others
sql/
*.sqlite
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

# nodejs and npm files utilized by gulp
node_modules/

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/
# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml

## File-based project format
*.ipr
*.iml
*.iws

## Additional for IntelliJ
out/

# generated by mpeltonen/sbt-idea plugin
.idea_modules/

# generated by JIRA plugin
atlassian-ide-plugin.xml

# generated by Crashlytics plugin (for Android Studio and Intellij)
com_crashlytics_export_strings.xml

# Files and folders under /vendor are third-party php dependencies/libraries/utilities/etc.
# which are never checked into VCS - they are only populated through Composer
vendor/*

# Finally all files starting with .git are configured to be exempt to the above rules.
# The primary benefit is that due to .gitkeep files within an otherwise empty directory
# (after the above ignores are applied) will keep them in the project's structure.
!.git*
!*/.git*
!**/.git*
